* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none !important;
  text-decoration: none !important;
}

@font-face {
  font-family: 'TitlingGothicFB Cond';
  src: url(./assets/fonts/titlinggothicfb-comp/TitlingGothicFBComp-Bold.otf);
}

@font-face {
  font-family: 'Acumin Pro';
  src: url(./assets/fonts/acumin-pro/Acumin-RPro.otf);
}

.ff_acmin {
  font-family: 'Acumin Pro', sans-serif;
}

.ff_titling {
  font-family: 'TitlingGothicFB Cond', sans-serif;
}

/* ====opacity=== */
.opacity_70 {
  opacity: 70%;
}

.opacity_80 {
  opacity: 80%;
}

.opacity_90 {
  opacity: 90%;
}

/* ======font-weight======= */
.fw-normal {
  font-weight: 400 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

:root {
  --fs-xxs: 14px;
  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-md: 20px;
  --fs-2md: 20px;
  --fs-lg: 21px;
  --fs-xl: 32px;
  --fs-2xl: 35px;
  --fs-3xl: 65px;
  /* color */
  --clr-white: #FFFFFF;
  --clr-grey: #636363;
  --clr-lightblue: #E3FAFF0D;
  --clr-shadawWhite: #0000001A;
  --clr-orange: #FA6A00;
  --clr-shadawOrange: #FA6A0099;
  --clr-boxOrange: #FB842CB2;
  --clr-boxShadawOrange: #FA6A00CC;
  --clr-blue: #101A2E;
  --clr-borderblue: #101A2E1A;
  --clr-lightGrey: #F3F3F4;
  --clr-lightWhite: #CFD1D5;
  --clr-borderGrey: #101A2E33;
  --clr-greyborder: #585F6D;
  --clr-accItem1: #6EE7FF12;
  --clr-accItem2: #F3F3F4;
  --clr-accItem3: #FDF9F2;
  --clr-accItem4: #FB842C1A;
  --clr-golden: #D49E14;
}

.bg_blue {
  background: var(--clr-blue);
}

.color_greyBorder {
  color: var(--clr-greyborder);
}

.bg_white {
  background: var(--clr-white);
}

.bg_orange {
  background: var(--clr-orange);
}

.color_blue {
  color: var(--clr-blue);
}

.color_white {
  color: var(--clr-white);
}

.color_grey {
  color: var(--clr-grey);
}

.text14_xxs {
  font-size: var(--fs-xxs);
}

.text16_xs {
  font-size: var(--fs-xs);
}

.text18_sm {
  font-size: var(--fs-sm);
}

.text20_md {
  font-size: var(--fs-md);
}

.text24_2md {
  font-size: var(--fs-2md);
}

.text28_lg {
  font-size: var(--fs-lg);
}

.text32_xl {
  font-size: var(--fs-xl);
}

.text48_2xl {
  font-size: var(--fs-2xl);
}

.text96_3xl {
  font-size: var(--fs-3xl);
}

/* ========line-height======== */
.lh_14 {
  line-height: 14px;
}

.lh_16 {
  line-height: 16.8px;
}

.lh_19 {
  line-height: 19px;
}

.lh_21 {
  line-height: 21.6px;
}

.lh_22 {
  line-height: 22.4px;
}

.lh_24 {
  line-height: 24px;
}

.lh_25 {
  line-height: 25.6px;
}

.lh_28 {
  line-height: 28px;
}

.lh_30 {
  line-height: 30px;
}

.lh_33 {
  line-height: 33.6px;
}

.lh_36 {
  line-height: 36px;
}

.lh_39 {
  line-height: 39.2px;
}

.lh_44 {
  line-height: 44.8px;
}

.lh_57 {
  line-height: 57.6px;
}

.lh_65 {
  line-height: 65px;
}

/* =========hero========= */
.hero_bg_img {
  background-image: url(./assets/images/png/hero-bg-img.png);
  background-size: 100% 100%;
  background-position: center;
}

.pt_35 {
  padding-top: 35px;
}

.py_14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.mt_20 {
  margin-top: 20px;
}

.gap_24 {
  gap: 24px;
}

.gap_28 {
  gap: 28px;
}

.max_w_730 {
  max-width: 730px;
}

.h_750 {
  height: 750px;
}

.nav_property {
  background: var(--clr-white);
  border-radius: 16px;
  padding-left: 45px;
  padding-right: 45px;
  height: 83px;
}

.btn_property {
  padding: 20px;
  background: var(--clr-orange);
  box-shadow: 0px 0px 26.2px 0px var(--clr-shadawOrange);
  border-radius: 84px;
  border: 1px solid transparent;
}

.no_box {
  background: var(--clr-lightblue);
  padding: 23px;
  backdrop-filter: blur(27px);
  border-radius: 16px;
}

.transition {
  transition: all 0.2s linear;
}

.info_hover:hover {
  opacity: 100%;
}

.nav_hover:hover {
  color: var(--clr-orange);
}

.btn_hover:hover {
  background: var(--clr-white);
  color: var(--clr-orange);
}

/* ========future====== */
.pt_40 {
  padding-top: 40px;
}

.max_w_280 {
  max-width: 280px;
}

.max_w_172 {
  max-width: 172px;
}

/* ==========understanding========= */
.py_73_45 {
  padding-top: 73px;
  padding-bottom: 45px;
}

.mt_30 {
  margin-top: 30px !important;
}

.max_w_240 {
  max-width: 240px;
}

.future_bg_img {
  background-image: url(./assets/images/png/future-bg-img.png);
  background-size: cover;
}

.bg_no_repate {
  background-repeat: no-repeat;
}

.pos_blasting1 {
  top: 24%;
}

.pos_blasting2 {
  top: 48%;
}

.pos_underlayer1 {
  top: -1px;
}

/* =============why-choose=========== */
.max_w_70 {
  max-width: 70px;
}

.mt_39 {
  margin-top: -39px;
}

/* ============behind======== */
.behind_bg_img {
  background-image: url(./assets/images/png/behind-bg-img.png);
  background-size: 100% 100%;
}

.mt_2 {
  margin-top: -2px;
}

.pos_playbtn {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.max_w_25 {
  max-width: 25px;
}

.cursor_pointer {
  cursor: pointer;
}

/* ===========lates-talk-number===== */
.mt_80 {
  margin-top: -80px;
}

.max_w_759 {
  max-width: 759px;
}

.accordion {
  width: 100%;
}

.accordion_item {
  padding: 20px;
  border: 1px solid var(--clr-borderblue);
  border-radius: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.accordion_content {
  max-width: 551px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion_content.open {
  max-height: 300px;
}

.accordion-title.open.text_nowrap {
  text-wrap: wrap;
}

.max_w_357 {
  max-width: 357px !important;
}

.bg_acc1 {
  background: var(--clr-accItem1) !important;
}

.bg_acc2 {
  background: var(--clr-accItem2) !important;
}

.bg_acc3 {
  background: var(--clr-accItem3) !important;
}

.bg_acc4 {
  background: var(--clr-accItem4) !important;
}


/* ==========quote========== */
.max_w_770 {
  max-width: 770px;
}

.quote_box {
  border: 6px solid var(--clr-boxOrange);
  border-radius: 14px;
  box-shadow: 0px 0px 26.2px 0px var(--clr-boxShadawOrange);
  padding: 17px;
}

/* ==========slider========== */
.slider-car {
  display: block;
  width: 360px;
  height: auto;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid var(--clr-white);
  border-radius: 26px;
}

.slider-car img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.slider-car.swiper-slide-active img {
  filter: none !important;
}

.slider-car.swiper-slide-active {
  border: 4px solid var(--clr-golden);
  border-radius: 26px;
  /* filter: none; */

}

.Slider_ArrowBox {
  width: 42px;
  height: 42px;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  transition: 0.2s linear;
  cursor: pointer;
}

.Slider_ArrowBox:hover {
  background: var(--clr-white);
}

.Slider_ArrowBox:hover svg path {
  fill: var(--clr-orange);
}

.pos_leftArrow {
  top: 40%;
  left: 2%;
}

.pos_rightArrow {
  top: 40%;
  right: 2%;
}

/* ===========meet-team=========== */
.max_W_300 {
  max-width: 300px;
}

.mt_140 {
  margin-top: -140px !important;
}

.mt_100 {
  margin-top: -100px;
}

.mb_1 {
  margin-bottom: -1px;
}

.mt_1 {
  margin-top: -1px;
}

.teamEllip_position {
  top: -160px;
  left: -155px;
}

/* ============still-unsure-accordian============== */
.mt_10 {
  margin-top: 10px;
}

.accordion-button {
  color: var(--clr-blue) !important;
  font-size: var(--fs-2md) !important;
  background: var(--clr-lightGrey) !important;
  border: 1px solid var(--clr-borderGrey) !important;
  padding: 24px 30px !important;
  border-radius: 14px !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background: var(--clr-blue) !important;
  color: var(--clr-white) !important;
  border: 1px solid transparent !important;
  box-shadow: none !important;
  padding: 24px 30px 12px 30px !important;
}

.accordion-body {
  background: var(--clr-blue) !important;
  color: var(--clr-lightWhite) !important;
  margin-top: -1px !important;
  padding: 0 30px 24px 30px !important;
  border-radius: 14px !important;
}

.accordion-item {
  background: var(--clr-blue) !important;
  margin-bottom: 20px;
  border-radius: 14px !important;
}

.accordion-button::after {
  background-image: url(./assets/images/svg/positive-icon.svg) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(./assets/images/svg/minu.svg) !important;
}

.diffQues_box {
  background: var(--clr-lightGrey);
  border: 1px solid var(--clr-borderGrey);
  border-radius: 14px;
  padding: 16px;
}

.white_input_box {
  border: 1px solid var(--clr-borderGrey) !important;
  background: var(--clr-white);
  height: 152px;
  padding: 16px;
  border-radius: 16px;
}

.outline_none {
  outline: none;
}

/* =========blast======= */
.max_w_966 {
  max-width: 966px;
}

.neg_margin {
  margin-top: -100px;
  margin-bottom: -56px;
}

/* ==========latest========= */
.max_w_323 {
  max-width: 323px;
}

.latest_box {
  padding: 10px 10px 24px 10px;
  box-shadow: 0px 0px 12px 0px var(--clr-shadawWhite);
  background: var(--clr-white);
  width: 364px;
  border-radius: 16px;
}

.latest_rowGap {
  row-gap: 15px;
}

/* ==========mailBox======= */
.max_w_121 {
  max-width: 121px;
}

.mb_100 {
  margin-bottom: -100px;
}

.max_w_55 {
  max-width: 55px;
}

.pt_60 {
  padding-top: 60px;
}

.mailBox {
  background: var(--clr-blue);
  box-shadow: 0px 2px 34px 0px var(--clr-shadawWhite);
  max-width: 958px;
  padding: 50px 20px 20px 20px;
  border-radius: 42px;
}

.pos_mailBox {
  top: -30px;
}

.border_none {
  border: 1px solid transparent;
}

.input_modification {
  background: var(--clr-white);
  outline: none;
  max-width: 505px;
  width: 100%;
  border-radius: 47px;
  padding: 0 5px 0 20px;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 0.15px solid var(--clr-white);
  border-radius: 2px;
  cursor: pointer;
}

input[type="checkbox"] {
  display: grid;
}

input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid var(--clr-orange);
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

input[type="checkbox"]:checked {
  background: transparent;
  border: 0.5px solid var(--clr-white);
}

/* ========footer========= */
::-webkit-scrollbar {
  display: none;
}

.py_22_5 {
  padding-top: 22px;
  padding-bottom: 5px;
}

.max_w_85 {
  max-width: 85px;
}

.underline {
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  width: 0;
  bottom: -2px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-orange);
  transition: all 0.2s linear;
}

.underline:hover::after {
  width: 100%;
}

.underline:hover {
  color: var(--clr-orange);
}

.IconBox {
  width: 40px;
  height: 40px;
  background: var(--clr-orange);
  border-radius: 50%;
}

.iconHover:hover svg path {
  stroke: var(--clr-orange);
}

.iconHover:hover .IconBox {
  background: var(--clr-white);
}

.iconhover:hover svg path {
  fill: var(--clr-orange);
}

.iconhover:hover .IconBox {
  background: var(--clr-white);
}

.iconHover:hover .clr_change {
  color: var(--clr-orange);
}

.iconhover:hover .clr_change {
  color: var(--clr-orange);
}

@media (max-width:991.99px) {
  .flex_column {
    flex-direction: column;
  }

  .d_flex {
    display: flex;
  }

  .justify_between {
    justify-content: space-between;
  }

  .z_6 {
    z-index: 6;
  }

  .overflow_hidden {
    overflow: hidden !important;
  }

  .right_100 {
    right: -100%;
  }

  .mobile_view {
    background-color: var(--clr-white);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 200ms linear;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6;
  }

  .menu span:nth-child(1) {
    height: 4px;
    width: 35px;
    background: var(--clr-orange);
    display: block;
    transition: 300ms linear;
  }

  .menu span:nth-child(2) {
    height: 4px;
    width: 35px;
    background: var(--clr-orange);
    display: block;
    transition: 300ms linear;
  }

  .menu span:nth-child(3) {
    height: 4px;
    width: 35px;
    background: var(--clr-orange);
    display: block;
    transition: 300ms linear;
  }

  .neg_margin {
    margin-top: -43px;
    margin-bottom: -38px;
  }
}

@media (max-width:576px) {
  .justify_content_center {
    justify-content: center;
  }
}

@media (min-width:576px) {
  :root {
    --fs-xs: 16px;
    --fs-sm: 18px;
    --fs-2md: 24px;
    --fs-2xl: 40px;
  }

  .lh_sm_27 {
    line-height: 27px;
  }

  .max_w_sm_400 {
    max-width: 400px;
  }

  .max_w_sm_435 {
    max-width: 435px;
  }

  .py_sm_144_50 {
    padding-top: 144px;
    padding-bottom: 50px;
  }

  .mt_sm_60 {
    margin-top: -60px;
  }
}

@media (min-width:768px) {
  :root {
    --fs-lg: 25px;
    --fs-3xl: 96px;
  }

  .lh_md_90 {
    line-height: 90px;
  }

  .lh_md_33 {
    line-height: 33px;
  }

  .no_box {
    padding: 23px 50px;
  }

  .pt_md_87 {
    padding-top: 87px;
  }

  .pt_38_57 {
    padding-top: 38px;
    padding-bottom: 57px;
  }

  .pt_md_110 {
    padding-top: 110px;
  }

  .mt-100 {
    margin-top: -100px;
  }

  .mt_md_37 {
    margin-top: 37px;
  }

  .mt_md_40 {
    margin-top: 40px;
  }

  .mt_194 {
    margin-top: -194px !important;
  }

  .h_md_954 {
    height: 954px;
  }

  .max_w_md_60 {
    max-width: 60px;
  }

  .max_w_md_80 {
    max-width: 80px;
  }

  .max_w_md_461 {
    max-width: 461px;
  }

  .pos_mailBox {
    top: -51px;
  }
}

@media (min-width:992px) {
  :root {
    --fs-lg: 28px;
    --fs-2xl: 48px;
  }

  .text_nowrap {
    text-wrap: nowrap;
  }

  .max_w_350 {
    max-width: 350px;
  }

  .lh_lg_115 {
    line-height: 115px;
  }

  .lh_lg_57 {
    line-height: 57px;
  }

  .lh_lg_39 {
    line-height: 39px;
  }

  .mt_lg_80 {
    margin-top: 80px !important;
  }

  .mt_lg_100 {
    margin-top: 100px !important;
  }

  .mb_lg_50 {
    margin-bottom: 50px;
  }

  .pt_lg_83 {
    padding-top: 83px;
  }

  .py_lg_190_120 {
    padding-top: 190px;
    padding-bottom: 120px;
  }

  .mx_45 {
    margin-left: 45px;
    margin-right: 45px;
  }

  .max_w_351 {
    max-width: 351px;
  }

  .max_w_558 {
    max-width: 558px;
  }

  .max_w_518 {
    max-width: 518px;
  }

  .max_w_588 {
    max-width: 588px;
  }

  .max_w_613 {
    max-width: 613px;
  }

  .max_w_451 {
    max-width: 451px;
  }

  .end_0 {
    right: 0;
  }

  .position_absolute {
    position: absolute;
  }

  .quote_box {
    padding: 37px 185px;
  }

  .diffQues_box {
    padding: 16px 30px 38px 30px;
  }

  .mailBox {
    padding: 68px 227px 40px 227px;
  }

  .accordion_item {
    padding: 32px;
  }
}

@media (min-width:1200px) {
  .mt_xl_293 {
    margin-top: 293px !important;
  }

  .mt_xl_175 {
    margin-top: 175px;
  }

  .mb_xl_121 {
    margin-bottom: 80px;
  }

  .py_xl_260_137 {
    padding-top: 260px;
    padding-bottom: 137px;
  }

  .pb_xl_160 {
    padding-bottom: 100px;
  }

  .pb_xl_58 {
    padding-bottom: 58px;
  }

  .pos_blasting2 {
    top: 52%;
  }
}

@media (min-width:1400px) {
  .max_w_xxl_728 {
    max-width: 728px;
  }

  .max_w_xxl_641 {
    max-width: 641px !important;
  }

  .pos_blasting1 {
    top: 17%;
  }

  .pos_blasting2 {
    top: 45%;
  }

  .pos_leftArrow {
    top: 40%;
    left: 7%;
  }

  .pos_rightArrow {
    top: 40%;
    right: 7%;
  }

  .py_xxl_100 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (min-width:1535.99px) {
  .min_vh_100 {
    min-height: 100vh;
  }

  .d_flex {
    display: flex;
  }

  .flex_grow_1 {
    flex-grow: 1 !important;
  }
}

@media (min-width:1400px) and (max-width:1535.99px) {
  .container {
    max-width: 1140px !important;
  }
}

@media (min-width:576px) and (max-width:991.99px) {}