* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none !important;
  text-decoration: none !important;
}

@font-face {
  font-family: 'TitlingGothicFB Cond';
  src: url(./assets/fonts/titlinggothicfb-comp/TitlingGothicFBComp-Bold.otf);
}

@font-face {
  font-family: 'Acumin Pro';
  src: url(./assets/fonts/acumin-pro/Acumin-RPro.otf);
}

.ff_acmin {
  font-family: 'Acumin Pro', sans-serif;
}

.ff_titling {
  font-family: 'TitlingGothicFB Cond', sans-serif;
}

/* ====opacity=== */
.opacity_70 {
  opacity: 70%;
}

.opacity_90 {
  opacity: 90%;
}

/* ======font-weight======= */
.fw-normal {
  font-weight: 400 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

:root {
  --fs-xxs: 14px;
  --fs-xs: 16px;
  --fs-sm: 16px;
  --fs-md: 20px;
  --fs-2md: 20px;
  --fs-lg: 28px;
  --fs-xl: 32px;
  --fs-2xl: 35px;
  --fs-3xl: 65px;
  /* color */
  --clr-white: #FFFFFF;
  --clr-grey: #636363;
  --clr-lightblue: #E3FAFF0D;
  --clr-orange: #FA6A00;
  --clr-shadawOrange: #FA6A0099;
  --clr-blue: #101A2E;
}

.bg_white {
  background: var(--clr-white);
}

.bg_orange {
  background: var(--clr-orange);
}

.color_blue {
  color: var(--clr-blue);
}

.color_white {
  color: var(--clr-white);
}

.color_grey {
  color: var(--clr-grey);
}

.text14_xxs {
  font-size: var(--fs-xxs);
}

.text16_xs {
  font-size: var(--fs-xs);
}

.text18_sm {
  font-size: var(--fs-sm);
}

.text20_md {
  font-size: var(--fs-md);
}

.text24_2md {
  font-size: var(--fs-2md);
}

.text28_lg {
  font-size: var(--fs-lg);
}

.text32_xl {
  font-size: var(--fs-xl);
}

.text48_2xl {
  font-size: var(--fs-2xl);
}

.text96_3xl {
  font-size: var(--fs-3xl);
}

/* ========line-height======== */
.lh_14 {
  line-height: 14px;
}

.lh_16 {
  line-height: 16.8px;
}

.lh_19 {
  line-height: 19px;
}

.lh_21 {
  line-height: 21.6px;
}

.lh_22 {
  line-height: 22.4px;
}

.lh_24 {
  line-height: 24px;
}

.lh_25 {
  line-height: 25.6px;
}

.lh_30 {
  line-height: 30px;
}

.lh_33 {
  line-height: 33.6px;
}

.lh_36 {
  line-height: 36px;
}

.lh_39 {
  line-height: 39.2px;
}

.lh_44 {
  line-height: 44.8px;
}

.lh_57 {
  line-height: 57.6px;
}

.lh_65 {
  line-height: 65px;
}

/* =========hero========= */
.hero_bg_img {
  background-image: url(./assets/images/png/hero-bg-img.png);
  background-size: 100% 100%;
  background-position: center;
}

.pt_35 {
  padding-top: 35px;
}

.py_14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.mt_20 {
  margin-top: 20px;
}

.gap_24 {
  gap: 24px;
}

.gap_28 {
  gap: 28px;
}

.max_w_730 {
  max-width: 730px;
}

.h_750 {
  height: 750px;
}

.nav_property {
  background: var(--clr-white);
  border-radius: 16px;
  padding-left: 45px;
  padding-right: 45px;
  height: 83px;
}

.btn_property {
  padding: 20px;
  background: var(--clr-orange);
  box-shadow: 0px 0px 26.2px 0px var(--clr-shadawOrange);
  border-radius: 84px;
  border: 1px solid transparent;
}

.no_box {
  background: var(--clr-lightblue);
  padding: 23px;
  backdrop-filter: blur(27px);
  border-radius: 16px;
}

/* ========future====== */
.pt_83_70 {
  padding-top: 83px;
  /* padding-bottom: 70px; */
}

.max_w_280 {
  max-width: 280px;
}

.mt_18 {
  margin-top: 13%;
}

.mt_15 {
  margin-top: -17% !important;
}

/* ==========understanding========= */
.py_73_45 {
  padding-top: 73px;
  padding-bottom: 45px;
}

.mt_30 {
  margin-top: 30px !important;
}

.max_w_240 {
  max-width: 240px;
}

.future_bg_img {
  background-image: url(./assets/images/png/future-bg-img.png);
  background-size: 100% 100%;
}

.bg_no_repate {
  background-repeat: no-repeat;
}

.pos_blasting1 {
  top: 24%;
}

.pos_blasting2 {
  top: 44%;
}

.pos_underlayer1 {
  top: -1px;
}

/* =============why-choose=========== */
.max_w_70 {
  max-width: 70px;
}

.mt_39 {
  margin-top: -39px;
}

/* ============behind======== */
.behind_bg_img {
  background-image: url(./assets/images/png/behind-bg-img.png);
  background-size: 100% 100%;
}

.mt_2 {
  margin-top: -2px;
}

.pos_playbtn {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.max_w_25 {
  max-width: 25px;
}
.cursor_pointer{
  cursor: pointer;
}

@media (max-width:991.99px) {
  .z_6 {
    z-index: 6;
  }

  .overflow_hidden {
    overflow: hidden !important;
  }

  .right_100 {
    right: -100%;
  }

  .mobile_view {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 200ms linear;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6;
  }

  .menu span:nth-child(1) {
    height: 4px;
    width: 35px;
    background: black;
    display: block;
    transition: 300ms linear;
  }

  .menu span:nth-child(2) {
    height: 4px;
    width: 35px;
    background: black;
    display: block;
    transition: 300ms linear;
  }

  .menu span:nth-child(3) {
    height: 4px;
    width: 35px;
    background: black;
    display: block;
    transition: 300ms linear;
  }
}

@media (min-width:576px) {
  :root {
    --fs-sm: 18px;
    --fs-2md: 24px;
    --fs-2xl: 40px;
  }

  .lh_sm_27 {
    line-height: 27px;
  }

  .max_w_sm_400 {
    max-width: 400px;
  }

  .max_w_sm_435 {
    max-width: 435px;
  }

  .py_sm_144_73 {
    padding-top: 144px;
    padding-bottom: 73px;
  }

  .mt_sm_60 {
    margin-top: -60px;
  }
}

@media (min-width:768px) {
  :root {
    --fs-3xl: 96px;
  }

  .lh_md_90 {
    line-height: 90px;
  }

  .no_box {
    padding: 23px 50px;
  }

  .pt_md_87 {
    padding-top: 87px;
  }

  .mt_md_40 {
    margin-top: 40px;
  }

  .h_md_954 {
    height: 954px;
  }

  .max_w_md_60 {
    max-width: 60px;
  }
}

@media (min-width:992px) {
  :root {
    --fs-2xl: 48px;
  }

  .lh_lg_115 {
    line-height: 115px;
  }

  .lh_lg_57 {
    line-height: 57px;
  }

  .mt_lg_80 {
    margin-top: 80px !important;
  }

  .mt_lg_100 {
    margin-top: 100px !important;
  }

  .mb_lg_50 {
    margin-bottom: 50px;
  }

  .py_lg_190_120 {
    padding-top: 190px;
    padding-bottom: 120px;
  }

  .pb_lg_300 {
    padding-bottom: 160px;
  }

  .mx_45 {
    margin-left: 45px;
    margin-right: 45px;
  }

  .max_w_351 {
    max-width: 351px;
  }

  .max_w_558 {
    max-width: 558px;
  }

  .max_w_518 {
    max-width: 518px;
  }

  .max_w_588 {
    max-width: 588px;
  }

  .max_w_451 {
    max-width: 451px;
  }

  .end_0 {
    right: 0;
  }

  .position_absolute {
    position: absolute;
  }
}

@media (min-width:1200px) {
  .mt_xl_293 {
    margin-top: 293px !important;
  }

  .mt_xl_175 {
    margin-top: 175px;
  }

  .mb_xl_121 {
    margin-bottom: 121px;
  }

  .py_xl_260_137 {
    padding-top: 260px;
    padding-bottom: 137px;
  }

  .pos_blasting2 {
    top: 52%;
  }
}

@media (min-width:1400px) {
  .max_w_xxl_728 {
    max-width: 728px;
  }

  .max_w_xxl_641 {
    max-width: 641px !important;
  }

  .pos_blasting1 {
    top: 17%;
  }

  .pos_blasting2 {
    top: 43%;
  }
}

@media (min-width:1535.99px) {
  .min_vh_100 {
    min-height: 100vh;
  }

  .d_flex {
    display: flex;
  }

  .flex_grow_1 {
    flex-grow: 1 !important;
  }
}

@media (min-width:1400px) and (max-width:1535.99px) {
  .container {
    max-width: 1140px !important;
  }
}